<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="meta description">

   <title>DNX - Jewelry Store eCommerce</title>

   <!--=== Favicon ===-->
   <link rel="shortcut icon" href="~/Resources/img/favicon.ico" type="image/x-icon" />
   <!--== Google Fonts ==-->
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" />
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" />
   <!--=== Bootstrap CSS ===-->
   <link href="~/Resources/css/vendor/bootstrap.min.css" rel="stylesheet">
   <!--=== Font-Awesome CSS ===-->
   <link href="~/Resources/css/vendor/font-awesome.css" rel="stylesheet">
   <!--=== Plugins CSS ===-->
   <link href="~/Resources/css/plugins.css" rel="stylesheet">
   <!--=== Main Style CSS ===-->
   <link href="~/Resources/css/style.css" rel="stylesheet">

   <!-- Modernizer JS -->
   <script src="~/Resources/js/vendor/modernizr-2.8.3.min.js"></script>
   <style>
      /* Cart Badge Styles */
      .cart-icon {
         position: relative;
         display: inline-block;
      }

      #cart-count, #cart-count-badge {
         position: absolute;
         top: -8px;
         right: -10px;
         background: #c29958;
         color: #fff;
         border-radius: 50%;
         padding: 2px 6px;
         font-size: 10px;
         font-weight: bold;
         min-width: 18px;
         text-align: center;
      }

      /* Mini Cart Dropdown */
      .header-right-meta .minicart {
         position: relative;
      }

      .minicart-content {
         position: absolute;
         top: 100%;
         right: 0;
         width: 320px;
         background: #fff;
         box-shadow: 0 2px 10px rgba(0,0,0,0.15);
         z-index: 999;
         display: none;
         margin-top: 10px;
         border-radius: 4px;
      }

      .minicart:hover .minicart-content {
         display: block;
      }

      .minicart-btn {
         position: relative;
      }

      /* CSS trong "ORDER", "INDEX"*/
      .nav-tabs .nav-link {
         color: #000;
         font-weight: 600;
         border-bottom: 2px solid transparent;
      }

         /* CSS cho tab đang được chọn (active) */
         .nav-tabs .nav-link.active {
            color: red;
            font-weight: 700;
            border-bottom: 2px solid red;
         }

         /* (Tùy chọn) Thêm hiệu ứng khi di chuột qua các tab chưa active */
         .nav-tabs .nav-link:not(.active):hover {
            color: #555;
         }

      .badge {
         font-size: 0.75rem;
         padding: 0.25em 0.6em;
      }
   </style>
</head>

<body>
   <!--== Header Area Start ==-->
   <header id="header-area">
      <div class="ruby-container" id="home">
         <div class="row">
            <!-- Logo Area Start -->
            <div class="col-3 col-lg-1 col-xl-2 m-auto">
               <a href="index.html" class="logo-area">
                  <img src="~/Resources/img/7.png" alt="Logo" class="logo-intensifier" />
               </a>
            </div>
            <!-- Logo Area End -->
            <!-- Navigation Area Start -->
            <div class="col-3 col-lg-9 col-xl-8 m-auto">
               <div class="main-menu-wrap">
                  <nav id="mainmenu">
                     <ul>
                        <li>
                           <a href="@Url.Action("Home","Feature")">HOME</a>
                        </li>
                        <li><a href="@Url.Action("Index","Shop")">SHOP</a></li>
                        <li><a href="@Url.Action("Blog","feature")">BLOG</a></li>
                        <li><a href="@Url.Action("Contact_us","feature")">CONTACT US</a></li>
                        <li><a href="@Url.Action("Index","UserDashboard")">ACCOUNT</a></li>
                        @*<li><a class="fa fa-shopping-bag" href="@Url.Action("Index","Cart")"></a></li>*@
                        <li class="cart-menu-item">
                           <a href="@Url.Action("Index","Cart")" class="cart-icon">
                              <i class="fa fa-shopping-bag"></i>
                              <span class="badge badge-danger" id="cart-count">0</span>
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
            <div class="col-6 col-lg-2 m-auto">
               <div class="header-right-meta text-right">
                  <ul>
                     <li class="wishlist">
                        <a href="@Url.Action("Wishlist","Wishlist")" title="Wishlist">
                           <i class="fa fa-heart"></i>
                           <span class="count" id="wishlist-count">0</span>
                        </a>
                     </li>

                     @*Kiểm tra trạng thái đăng nhập của người dùng*@
                     @if (Session["UserEmail"] != null)
                     {
                        <li class="settings">
                           <a href="@Url.Action("Account", "Feature")" title="My Account"><i class="fa fa-user"></i></a>
                           <div class="site-settings d-block d-sm-flex">
                              <dl class="my-account">
                                 <dt>Hello, @Session["UserEmail"]</dt>
                                 <dd><a href="@Url.Action("Index", "Orders")">My Orders</a></dd>

                                 <dd>
                                    <a href="@Url.Action("Logout", "Account")">Logout</a>
                                 </dd>
                              </dl>
                           </div>
                        </li>
                     }
                     else
                     {
                        <li class="settings">
                           <a href="@Url.Action("Login", "Account")">Login</a>
                        </li>
                     }

                  </ul>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!--== Header Area End ==-->



   @RenderBody()



   <footer id="footer-area">
      <!-- Footer Call to Action Start -->
      <div class="footer-callto-action">
         <div class="ruby-container">
            <div class="callto-action-wrapper">
               <div class="row">
                  <div class="col-lg-3 col-md-6">
                     <!-- Single Call-to Action Start -->
                     <div class="single-callto-action d-flex">
                        <figure class="callto-thumb">
                           <img src="~/Resources/img/air-plane.png" alt="WorldWide Shipping" />
                        </figure>
                        <div class="callto-info">
                           <h2>Free Shipping Worldwide</h2>
                           <p>On order over $150 - 7 days a week</p>
                        </div>
                     </div>
                     <!-- Single Call-to Action End -->
                  </div>

                  <div class="col-lg-3 col-md-6">
                     <!-- Single Call-to Action Start -->
                     <div class="single-callto-action d-flex">
                        <figure class="callto-thumb">
                           <img src="~/Resources/img/support.png" alt="Support" />
                        </figure>
                        <div class="callto-info">
                           <h2>24/7 CUSTOMER SERVICE</h2>
                           <p>Call us 24/7 at 000 - 123 - 456k</p>
                        </div>
                     </div>
                     <!-- Single Call-to Action End -->
                  </div>

                  <div class="col-lg-3 col-md-6">
                     <!-- Single Call-to Action Start -->
                     <div class="single-callto-action d-flex">
                        <figure class="callto-thumb">
                           <img src="~/Resources/img/money-back.png" alt="Money Back" />
                        </figure>
                        <div class="callto-info">
                           <h2>MONEY BACK Guarantee!</h2>
                           <p>Send within 30 days</p>
                        </div>
                     </div>
                     <!-- Single Call-to Action End -->
                  </div>

                  <div class="col-lg-3 col-md-6">
                     <!-- Single Call-to Action Start -->
                     <div class="single-callto-action d-flex">
                        <figure class="callto-thumb">
                           <img src="~/Resources/img/cog.png" alt="Guide" />
                        </figure>
                        <div class="callto-info">
                           <h2>SHOPPING GUIDE</h2>
                           <p>"Find a treasure that tells your story."</p>
                        </div>
                     </div>
                     <!-- Single Call-to Action End -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer Call to Action End -->
      <!-- Footer Follow Up Area Start -->
      <div class="footer-followup-area">
         <div class="ruby-container">
            <div class="followup-wrapper">
               <div class="row">
                  <div class="col-lg-12 text-center">
                     <div class="follow-content-wrap">
                        <a href="index.html" class="logo"><img class="logo-intensifier" src="~/Resources/img/7.png" alt="logo" /></a>
                        <p>"Success usually comes to those who are too busy to be looking for it." - Henry David Thoreau -</p>

                        <div class="footer-social-icons">
                           <a href="#"><i class="fa fa-facebook"></i></a>
                           <a href="#"><i class="fa fa-twitter"></i></a>
                           <a href="#"><i class="fa fa-pinterest"></i></a>
                           <a href="#"><i class="fa fa-instagram"></i></a>
                           <a href="#"><i class="fa fa-flickr"></i></a>
                        </div>

                        <a href="#"><img src="~/Resources/img/payment.png" alt="Payment Method" /></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer Follow Up Area End -->
      <!-- Footer Image Gallery Area Start -->
      <div class="footer-image-gallery">
         <div class="ruby-container">
            <div class="image-gallery-wrapper">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="imgage-gallery-carousel owl-carousel">
                        <div class="gallery-item">
                           <a href="#"><img src="~/Resources/img/gallery-img-1.jpg" alt="Gallery" /></a>
                        </div>
                        <div class="gallery-item">
                           <a href="#"><img src="~/Resources/img/gallery-img-2.jpg" alt="Gallery" /></a>
                        </div>
                        <div class="gallery-item">
                           <a href="#"><img src="~/Resources/img/gallery-img-3.jpg" alt="Gallery" /></a>
                        </div>
                        <div class="gallery-item">
                           <a href="#"><img src="~/Resources/img/gallery-img-4.jpg" alt="Gallery" /></a>
                        </div>
                        <div class="gallery-item">
                           <a href="#"><img src="~/Resources/img/gallery-img-3.jpg" alt="Gallery" /></a>
                        </div>
                        <div class="gallery-item">
                           <a href="#"><img src="~/Resources/img/gallery-img-2.jpg" alt="Gallery" /></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer Image Gallery Area End -->

   </footer>
   <!-- Footer Area End -->
   <!-- Start All Modal Content -->
   <!--== Product Quick View Modal Area Wrap ==-->
   <div class="modal fade" id="quickView" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true"><img src="~/Resources/img/cancel.png" alt="Close" class="img-fluid" /></span>
            </button>
            <div class="modal-body">
               <div class="quick-view-content single-product-page-content">
                  <div class="row">
                     <!-- Product Thumbnail Start -->
                     <div class="col-lg-5 col-md-6">
                        <div class="product-thumbnail-wrap">
                           <div class="product-thumb-carousel owl-carousel">
                              <div class="single-thumb-item">
                                 <a href="single-product.html">
                                    <img class="img-fluid" src="~/Resources/img/single-pro-thumb.jpg"
                                         alt="Product" />
                                 </a>
                              </div>

                              <div class="single-thumb-item">
                                 <a href="single-product.html">
                                    <img class="img-fluid" src="~/Resources/img/single-pro-thumb-2.jpg"
                                         alt="Product" />
                                 </a>
                              </div>

                              <div class="single-thumb-item">
                                 <a href="single-product.html">
                                    <img class="img-fluid" src="~/Resources/img/single-pro-thumb-3.jpg"
                                         alt="Product" />
                                 </a>
                              </div>

                              <div class="single-thumb-item">
                                 <a href="single-product.html">
                                    <img class="img-fluid" src="~/Resources/img/single-pro-thumb-4.jpg"
                                         alt="Product" />
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Product Thumbnail End -->
                     <!-- Product Details Start POP UP-->
                     <div class="col-lg-7 col-md-6 mt-5 mt-md-0">
                        <div class="product-details">
                           <h2><a href="single-product.html">Crown Summit Backpack Ahihi</a></h2>

                           <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half"></i>
                              <i class="fa fa-star-o"></i>
                           </div>

                           <span class="price">$52.00</span>

                           <div class="product-info-stock-sku">
                              <span class="product-stock-status">In Stock</span>
                              <span class="product-sku-status ml-5"><strong>SKU</strong> MH03</span>
                           </div>

                           <p class="products-desc">
                              Ideal for cold-weathered training worked lorem ipsum outdoors,
                              the Chaz Hoodie promises superior warmth with every wear. Thick material blocks
                              out
                              the wind as ribbed cuffs and bottom band seal in body heat Lorem ipsum dolor sit
                              amet, consectetur adipisicing elit. Enim, reprehenderit.
                           </p>

                           <div class="product-quantity d-flex align-items-center">
                              <a href="@Url.Action("Cart","Feature")" class="btn btn-add-to-cart">Add to Cart</a>
                           </div>
                        </div>
                     </div>
                     <!-- Product Details End -->

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--== Product Quick View Modal Area End ==-->
   <!-- End All Modal Content -->
   <a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
   <!-- Scroll to Top End -->
   <!--=======================Javascript============================-->
   <!--=== Jquery Min Js ===-->
   <script src="~/Resources/js/vendor/jquery-3.3.1.min.js"></script>
   <!--=== Jquery Migrate Min Js ===-->
   <script src="~/Resources/js/vendor/jquery-migrate-1.4.1.min.js"></script>
   <!--=== Popper Min Js ===-->
   <script src="~/Resources/js/vendor/popper.min.js"></script>
   <!--=== Bootstrap Min Js ===-->
   <script src="~/Resources/js/vendor/bootstrap.min.js"></script>
   <!--=== Plugins Min Js ===-->
   <script src="~/Resources/js/plugins.js"></script>

   <!--=== Active Js ===-->
   <script src="~/Resources/js/active.js"></script>

   <script>
      $(document).ready(function() {
          // Update cart và wishlist count khi page load
          updateCartCount();
          updateWishlistCount();

          // Load mini cart khi hover
          $('.minicart-btn').on('mouseenter', function() {
              loadMiniCart();
          });

          // Function: Update cart count
          function updateCartCount() {
              $.ajax({
                  url: '@Url.Action("GetCartCount", "Cart")',
                  type: 'GET',
                  success: function(response) {
                      var count = response.count || 0;
                      $('#cart-count').text(count);
                      $('#cart-count-badge').text(count);

                      // Hide badge if count = 0
                      if (count === 0) {
                          $('#cart-count, #cart-count-badge').hide();
                      } else {
                          $('#cart-count, #cart-count-badge').show();
                      }
                  },
                  error: function() {
                      console.log('Error loading cart count');
                  }
              });
          }

          // Function: Update wishlist count
          function updateWishlistCount() {
              $.ajax({
                  url: '@Url.Action("GetCount", "Wishlist")',
                  type: 'GET',
                  success: function(response) {
                      var count = response.count || 0;
                      $('#wishlist-count').text(count);

                      if (count === 0) {
                          $('#wishlist-count').hide();
                      } else {
                          $('#wishlist-count').show();
                      }
                  },
                  error: function() {
                      console.log('Error loading wishlist count');
                  }
              });
          }

          // Function: Load mini cart
          function loadMiniCart() {
              $.ajax({
                  url: '@Url.Action("GetMiniCart", "Cart")',
                  type: 'GET',
                  success: function(html) {
                      $('#mini-cart-container').html(html);
                  },
                  error: function() {
                      $('#mini-cart-container').html('<div class="p-3 text-center text-muted">Error loading cart</div>');
                  }
              });
          }

          // Expose functions globally để các page khác có thể gọi
          window.updateCartCount = updateCartCount;
          window.updateWishlistCount = updateWishlistCount;
      });
   </script>

   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/bootstrap")
   @RenderSection("Scripts", required: false)
   @RenderSection("Styles", required: false)
</body>

</html>